<p><br>
<html>
<head>
  <meta charset="UTF-8">
</head>
<body>


<br>
</p>
<table cellspacing="0">
  <tbody>
    <tr>
      <td align="left"></td>
      <td>銘柄名&nbsp;</td>
      <td>証券コード&nbsp;</td>
      <td width="59">株価</td>
      <td width="65">時刻&nbsp;</td>
      <td width="188">買い注文数÷売り注文数&nbsp;</td>
    </tr>
    <% @first_brand.each do |elem| %>
    <tr>
      <td width="162"><%= elem[0]["brand_name"] %></td>
      <td><%= elem[0]["code"] %>&nbsp;</td>
      <td width="59"><%= elem[0]["current_price"] %>&nbsp;</td>
      <td width="65"><%= elem[0]["time"] %></td>
      <td align="left" width="188"><%= (elem[0]["under_divided_over"] %>倍</td>
    </tr>
    <% end %>
  </tbody>
</table>
<br>

</body>
<script type="text/javascript" language="javascript">
<!--
setTimeout("location.reload()",1000);
// -->
</script>
</html>
