<p><br>
<html>
<head>
  <meta charset="UTF-8">
</head>
<body>


<br>
</p>
<table cellspacing="0">
  <tbody>
    <tr>
      <td align="left"></td>
      <td>銘柄名&nbsp;</td>
      <td>証券コード&nbsp;</td>
      <td width="59">株価</td>
      <td width="65">時刻&nbsp;</td>
      <td width="188">買い注文数÷売り注文数&nbsp;</td>
    </tr>
    <tr>
      <td align="left" width="24">1</td>
      <td width="162"><%= @first_brand[0]["brand_name"] %></td>
      <td><%= @first_brand[0]["code"] %>&nbsp;</td>
      <td width="59"><%= @first_brand[0]["current_price"] %>&nbsp;</td>
      <td width="65"><%= @first_brand[0]["time"] %></td>
      <td align="left" width="188"><%= (@first_brand[0]["over"].to_i / @first_brand[0]["under"].to_i).round(1) %>倍</td>
    </tr>
  </tbody>
</table>
<br>

</body>
</html>
